<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../vue.js"></script>
    <style>
        #app {
            position: relative;
        }
    </style>
</head>

<body>
    <div id="app">
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <p>fvghghvh</p>
        <div v-for='value,index in datasrc'>
            <img v-lazyload :data-src='value' :key="index" alt="">
        </div>
        <!-- <img v-lazyload  v-for='value,index in datasrc'  :data-src='value' :key="index"  alt=""> -->

    </div>
    <script>
        Vue.directive('lazyload', {
            bind() {},
            inserted(el) {
                window.addEventListener('scroll', function () {
                    if ((el.offsetTop - document.documentElement.scrollTop) - window.innerHeight < 10) {
                        el.src = el.dataset.src;
                    }
                })
            },
            update() {

            }
        })
        var vm = new Vue({
            el: '#app',
            data: {
                datasrc: ['./5.jpg', './6.jpg', './3.jpg', './4.jpg', './1.jpg', './2.jpg', './3.jpg',
                    './4.jpg','./5.jpg', './6.jpg', './3.jpg', './4.jpg', './1.jpg', './2.jpg', './3.jpg',
                    './4.jpg','./5.jpg', './6.jpg', './3.jpg', './4.jpg', './1.jpg', './2.jpg', './3.jpg',
                    './4.jpg','./5.jpg', './6.jpg', './3.jpg', './4.jpg', './1.jpg', './2.jpg', './3.jpg',
                    './4.jpg','./5.jpg', './6.jpg', './3.jpg', './4.jpg', './1.jpg', './2.jpg', './3.jpg',
                    './4.jpg','./5.jpg', './6.jpg', './3.jpg', './4.jpg', './1.jpg', './2.jpg', './3.jpg',
                    './4.jpg'],
            }
        })
    </script>
</body>

</html>