<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../vue.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        #app {
            position: relative;
        }
    </style>
</head>

<body>
    <div id="app">
        <div v-for='value,index in datasrc'>
                <img v-lazyload  :data-src='value' :key="index" alt="">
            </div>
        <!-- <img v-lazyload v-for='value,index in datasrc' :data-src='value'  alt=""> -->
        <div v-for='value,index in datasrc'>
                <img v-lazyload  :data-src='value' :key="index" alt="">
            </div>
        <!-- <img v-lazyload v-for='value,index in datasrc' :data-src='value'  alt=""> -->
        <div v-for='value,index in datasrc'>
                <img v-lazyload  :data-src='value' :key="index" alt="">
            </div>
        <!-- <img v-lazyload v-for='value,index in datasrc' :data-src='value'  alt=""> -->
        <div v-for='value,index in datasrc'>
                <img v-lazyload  :data-src='value' :key="index" alt="">
        </div>
        <!-- <img v-lazyload v-for='value,index in datasrc' :data-src='value'  alt=""> -->
        <!-- <img  v-for='item in datasrc' :src='item.imgsrc' :data-src='item.imgsrc'  alt=""> -->
        <div v-for='value,index in datasrc'>
            <img v-lazyload  :data-src='value' :key="index" alt="">
        </div>
        <div v-for='value,index in datasrc'>
            <img v-lazyload  :data-src='value' :key="index" alt="">
        </div>
        <div v-for='value,index in datasrc'>
            <img v-lazyload  :data-src='value' :key="index" alt="">
        </div>
        <div v-for='value,index in datasrc'>
            <img v-lazyload  :data-src='value' :key="index" alt="">
        </div>
        <div v-for='value,index in datasrc'>
            <img v-lazyload  :data-src='value' :key="index" alt="">
        </div>
        <div v-for='value,index in datasrc'>
            <img v-lazyload  :data-src='value' :key="index" alt="">
        </div>
        <div v-for='value,index in datasrc'>
            <img v-lazyload  :data-src='value' :key="index" alt="">
        </div>
        <div v-for='value,index in datasrc'>
            <img v-lazyload  :data-src='value' :key="index" alt="">
        </div>
        <div v-for='value,index in datasrc'>
            <img v-lazyload  :data-src='value' :key="index" alt="">
        </div>
        <!-- <img v-lazyload  v-for='value,index in datasrc'  :data-src='value' :key="index"  alt=""> -->

    </div>
    <script>
        Vue.directive('lazyload', {
            bind() {},
            inserted(el) {
                console.log(el,el.offsetTop)
                // if(el.offsetTop<window.innerHeight){
                //     el.src = el.dataset.src;
                // }
                window.addEventListener('scroll', function () {
                    console.log(el.offsetTop)
                    if ((el.offsetTop-document.documentElement.scrollTop) - window.innerHeight < 10) {
                        el.src = el.dataset.src;
                    }
                })


            },
            update() {

            }
        })
        var vm = new Vue({
            el: '#app',
            data: {
                // datasrc:[{imgsrc:'./1.jpg'},{imgsrc:'./2.jpg'},{imgsrc:'./3.jpg'},{imgsrc:'./4.jpg'},],
                datasrc: ['./5.jpg', './6.jpg', './3.jpg', './4.jpg', './1.jpg', './2.jpg', './3.jpg','./4.jpg'],
                // datasrc: ['./1.jpg']
            }
        })
    </script>
</body>

</html>